<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nine.user.mapper.customize.UserJoinMapper">


    <select id="selectRoleByUserId" resultType="com.nine.domain.user.Role">
        select t1.*
        from sys_role t1
                 left join sys_role_user t2 on t1.role_id = t2.role_id
        where t2.user_id = #{userId}
    </select>

    <select id="selectPermitByRoleId" resultType="com.nine.domain.user.Permit">
        select t1.*
        from sys_permit t1
                 left join sys_role_permit t2 on t1.permit_id = t2.permit_id
        where t2.role_id = #{roleId}
    </select>

    <select id="selectPermitByUserId" resultType="com.nine.domain.user.Permit">
        select distinct t1.*
        from sys_permit t1
                 left join sys_role_permit t2 on t1.permit_id = t2.permit_id
                 left join sys_role_user t3 on t2.role_id = t3.role_id
        where t3.user_id = #{userId}
    </select>
</mapper>