<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nine.user.mapper.base.SysRoleMapper">

    <resultMap id="roleMap" type="com.nine.user.domain.SysRole">
    </resultMap>

</mapper>